<template>
  <div class="form">
    <div class="login">
      <h1>LOGIN</h1>
      <i-form @keyup.enter="submitLogin">
        <i-form-group>
          <i-input
            type="text"
            placeholder="Username"
            v-model="login.username"
          />
        </i-form-group>
        <i-form-group>
          <i-input
            type="password"
            placeholder="Password"
            v-model="login.password"
          />
        </i-form-group>
        <i-form-group class="remember">
          <input class="check" type="checkbox" />
          <i-form-label class="_font-weight-normal _text-light"
            >Remember me</i-form-label
          >
          <a class="forgot" href="#">Forgot password ?</a>
        </i-form-group>
        <i-form-group class="s-button">
          <i-button type="submit" @click="submitLogin">Login</i-button>
        </i-form-group>
      </i-form>
      <i-modal size="sm" variant="danger" v-model="login.visible">
        <template slot="header">
          <span><i-icon icon="danger"></i-icon></span>
          <p>Fields require filling</p>
        </template>
        <p class="_text-center" v-if="loginErrors.username">
          {{ loginErrors.username }}
        </p>
        <p class="_text-center" v-if="loginErrors.password">
          {{ loginErrors.password }}
        </p>
        <template slot="footer"> </template>
      </i-modal>
    </div>
    <div class="social">
      <div class="alternate">
        <span>OR</span>
      </div>
      <div class="icons">
        <v-icon name="brands/google" scale="2"></v-icon>
        <v-icon name="brands/facebook" scale="2"></v-icon>
        <v-icon name="brands/linkedin" scale="2"></v-icon>
        <v-icon name="brands/twitter" scale="2"></v-icon>
        <v-icon name="brands/github" scale="2"></v-icon>
      </div>
    </div>
    <div class="signup">
      <h1>SIGNUP</h1>
      <i-form @keyup.enter="submitSignup">
        <i-form-group>
          <i-input
            variant="dark"
            type="text"
            placeholder="Full name "
            v-model="signup.fullname"
          />
        </i-form-group>
        <i-form-group>
          <i-input
            variant="dark"
            type="email"
            placeholder="Email"
            v-model="signup.email"
          />
        </i-form-group>
        <i-form-group>
          <i-input variant="dark" type="password" placeholder="Password" />
        </i-form-group>
        <i-form-group>
          <i-input
            variant="dark"
            type="password"
            placeholder="Confirm password"
          />
        </i-form-group>
        <i-form-group class="s-button">
          <i-button variant="dark" type="submit" @click="submitSignup"
            >Signup</i-button
          >
        </i-form-group>
      </i-form>
      <i-modal size="sm" variant="danger" v-model="signup.visible">
        <template slot="header">
          <span><i-icon icon="danger"></i-icon></span>
          <p>Fields require filling</p>
        </template>
        <p class="_text-center" v-if="signupErrors.fullname">
          {{ signupErrors.fullname }}
        </p>
        <p class="_text-center" v-if="signupErrors.email">
          {{ signupErrors.email }}
        </p>
        <template slot="footer"> </template>
      </i-modal>
    </div>
  </div>
</template>

<script>
export default {
  name: "Input",
  data() {
    return {
      login: {
        visible: false,
        username: "",
        password: "",
      },
      loginErrors: {
        username: undefined,
        password: undefined,
      },
      signup: {
        visible: false,
        fullname: "",
        email: "",
      },
      signupErrors: {
        fullname: undefined,
        email: undefined,
      },
    };
  },
  methods: {
    submitLogin(e) {
      e.preventDefault();
      this.loginErrors = this.validateLogin(this.login);
      if (Object.keys(this.loginErrors).length) {
        this.login.visible = true;
        return;
      }
      this.login.username = "";
      this.login.password = "";
    },
    validateLogin(login) {
      const errors = [];
      if (!login.username) {
        errors.username = "Username";
      }
      if (!login.password) {
        errors.password = "Password";
      }
      return errors;
    },
    submitSignup(e) {
      e.preventDefault();
      this.signupErrors = this.validateSignup(this.signup);
      if (Object.keys(this.signupErrors).length) {
        this.signup.visible = true;
        return;
      }
      this.signup.fullname = "";
      this.signup.email = "";
    },
    validateSignup(signup) {
      const errors = [];
      if (!signup.fullname) {
        errors.fullname = "Full name";
      }
      if (!signup.email) {
        errors.email = "Email address";
      }
      return errors;
    },
  },
};
</script>

<style scoped>
button:hover {
  transform: scale(1.1);
  letter-spacing: 0.1rem;
  transition: 0.2s all ease-in-out;
}

.check {
  margin: 0 10px 0 0;
}

.forgot {
  margin: 0 0 0 30px;
  color: black;
  text-decoration: underline;
  text-decoration-style: double;
}

.login {
  margin-bottom: 1.5rem;
}

.remember {
  display: inline-block;
}

.s-button {
  margin: 20px 0 10px 0;
}
.signup {
  margin-top: 1rem;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.icons {
  display: flex;
  background: #f5f1be77;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  /*min-height: 60px;*/
  border-radius: 20px;
}

.icons .fa-icon {
  margin: 10px 20px;
}

.icons .fa-icon:hover {
  transform: scale(1.3);
  transition: 0.2s ease-out;
}

.alternate {
  display: flex;
  flex-direction: column;
  margin: 5px 0 10px 0;
  font-size: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.486);
}
</style>