<template>
  <div id="app">
    <i-container fluid>
      <i-row center-xs center-md>
        <i-column md="6" sm="8">
          <Form />
        </i-column>
      </i-row>
    </i-container>
  </div>
</template>

<script>
import Form from "./components/Form.vue";
export default {
  components: {
    Form,
  },
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 20px;
}

body {
  background: linear-gradient(to right bottom, #f37fdab9, #ec6c30ea);
}

.row {
  max-width: 100vw;
  /*background: linear-gradient(90deg, #179cdaf5, #1c5bbb75);*/
  margin: auto;
  background: linear-gradient(180deg, #665de2f5, #15d4e2ee);
  border: 2px solid transparent;
  border-radius: 18px;
}

/*.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter-active {
  transition: all 0.3s ease;
}

.fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-enter,
.fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}*/
</style>